<footer>
    <p>Copyright Launch Store</p>
    <p>Endereço: Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188</p>
</footer>

<script src="/scripts.js"></script>